/*********************************************************/
/* mvp.css */
/*********************************************************/
/* base */
:root {
	line-height: 1;
	font-size: 16px;
	font-family: 'Noto Sans Mono', monospace;	
}
html {
	scroll-behavior: smooth !important;
}

html, body, div {
	position: relative;
	margin: 0;
	padding: 0;
}

body, main {
	padding: .5rem;
}

h1, p {
	line-height: 1;
	margin: 0;
}

input, select, button,
input::file-selector-button,
td, th, p, a {
	font-size: 1rem;
	font-family: 'Noto Sans Mono', monospace;
	padding: 5px;
}

input, button, select,
input::file-selector-button {
	cursor: pointer;
}

input::file-selector-button {
	margin-right: 1rem;
	padding-right: 10px;
	padding-left: 10px;
}

input, select, label, button {
	max-width: 100%;
}

table th, table td {
	text-align: center;
	padding: 5px 10px;
}

table th:first-child,
table td:first-child {
	text-align: right;
}

table td {
	 background-color: hsla(0, 0%, 90%, 1.0);
}

/*********************************************************/
/* layout */
/*********************************************************/

#title-container {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	padding: 0 1rem;
}
#title-container img {
	height: 2.25rem;
	border: .25rem solid black;
	margin-right: 1.5rem;
	margin-top: 9px;
}

#ic-form, .row {
	display: flex;
	flex-flow: row wrap;
}

.col {
	display: flex;
	flex-flow: column wrap;
}

#image-converter .col {
	flex-basis: calc(calc(100% / 3) - 2rem);
	min-width: calc(calc(100% / 3) - 2rem);
	max-width: 30vw;
	padding: 0 1rem;
}

#ic-form {
	position: relative;
	flex-basis: calc(calc(100% / 3) * 2);
	padding: 0;
	margin: 0;
}

#ic-form .col {
	flex-basis: calc(50% - 2rem);
}

#ic-output-save {
	padding-right: 15px;
	padding-left: 15px;
}

/*********************************************************/
/* media */
/*********************************************************/

@media screen and (max-width: 1200px) {
	#logo {
		font-size: 2.6rem !important;
	}
	#image-converter > h1 {
		font-size: 1.75rem;
	}
	#ic-form {
		flex-basis: 100%;
	}
	#image-converter .col {
		flex-basis: calc(calc(100% / 2) - 2rem);
		min-width: calc(calc(100% / 2) - 2rem);
		max-width: 50vw;
	}
}
@media screen and (max-width: 900px) {
	#logo {
		font-size: 2rem !important;
	}
	#image-converter > h1 {
		font-size: 1.5rem;
	}
	#ic-form {
		flex-basis: 200%;
	}
	#image-converter .col {
		flex-basis: calc(100% - 2rem);
		min-width: calc(100% - 2rem);
		max-width: 90vw;
	}
}
@media screen and (max-width: 450px) {
	:root {
		font-size: 14px;
	}
}
@media screen and (max-width: 355px) {
	:root {
		font-size: 12px;
	}
}
/*********************************************************/
/* modules */
/*********************************************************/

.converter-image {
	min-height: 464px;
	max-height: 464px;
	max-width: 100%;
	object-fit: contain;
	background-color: black;
}

#ic-output-status {
	font-style: italic;
	word-break: break-all;
}

#logo {
	font-size: 4rem;
	font-weight: 700;
}

/* to top nav icon */ 
#to-top {
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	
	font-size: 1.5rem;
	opacity: .5;
	transition: opacity .3s ease-in-out;
}
#to-top:hover {
	opacity: 1;
}
#to-top a {
	text-decoration: none;
	color: white;
}

/*********************************************************/
/* palete form */
/*********************************************************/

.palette-form {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	align-content: center;
	margin-top: 5px;
	gap: 5px 2%;
}
.palette-form .swatch {
	padding: 0;
	height: 2rem;
}
/* flex sizing for swatch counts */
.sw_1 {
	flex: 1;
}
.sw_4 {
	flex-basis: calc(calc(94% / 4) - calc(2% / 4));
}
.sw_8 {
	flex-basis: calc(calc(86% / 8) - calc(2% / 8));	
}
.palette-loader .swatch {
	transition: opacity .3s ease-in-out;
	animation: swatch-loading 1s infinite backwards;
}
.palette-form button {
	flex-grow: 1;
}
/*********************************************************/
/* animation */
/*********************************************************/

@keyframes swatch-loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .1;
	}
}


/*********************************************************/
/* theme */
/*********************************************************/

/* main themed font */
.pixel {
	font-family: 'Silkscreen', cursive;	
}

/*********************************************************/
/* state */
/*********************************************************/

.no-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

*:disabled {
	cursor: not-allowed;
}

/*********************************************************/