/*********************************************************/
/* state.css */
/*********************************************************/

input:not(.swatch):disabled, button:disabled {
	opacity: .67;
}

#to-top:hover {
	opacity: 1;
}

rect:hover {
	cursor: pointer;
	z-index: 5;
	filter: invert(0.1) brightness(1.5) drop-shadow(0 0 1px black);
}


/*********************************************************/