{% block content %}
<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 
			align-items-center rounded-3 border shadow-lg">
	<div id="about" class="p-3 p-lg-5 pt-lg-3">
	    <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
	       	About
	    </h1>
		<hr class="border border-secondary border-2 opacity-75">
		<p class="lead">
			Ultrices sagittis orci a scelerisque purus. Metus aliquam eleifend mi in. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Cursus risus at ultrices mi tempus imperdiet nulla. Pharetra magna ac placerat vestibulum. At tellus at urna condimentum mattis pellentesque id nibh. At elementum eu facilisis sed odio. Vulputate enim nulla aliquet porttitor lacus luctus. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Vitae elementum curabitur vitae nunc sed. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Consequat semper viverra nam libero justo laoreet. Volutpat lacus laoreet non curabitur. Consequat ac felis donec et odio pellentesque diam volutpat. Tortor condimentum lacinia quis vel eros donec ac.
		</p>
	</div>
</div>
{% endblock content %}