{% block content %}
<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
	<div id="art-gallery" class="p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
        	Art Gallery
        </h1>
        <hr class="border border-secondary border-2 opacity-75">
		<p class="lead">
			Art gallery text goes here.
		</p>

		<div class="album">
		    <div class="container">
			    <div class="row pb-3 row-cols-1 row-cols-sm-2 
			    			row-cols-md-3 g-3">
					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>

					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>

					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>						
				</div>
			    <div class="row row-cols-1 row-cols-sm-2 
			    			row-cols-md-3 g-3">
					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>

					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>

					<div class="col">
					    <div class="card shadow-sm">
					    	<img src="{{ url_for('static', filename='./img/blk.png') }}" 
					    		 class="img-fluid" alt="test image">
					        <div class="card-body">
					            <p class="card-text">
					            	Card text goes here.
					            </p>
					        </div>
					    </div>
					</div>						
				</div>


			</div>
		</div>
	</div>
</div>
{% endblock content %}