{% block content %}
<header class="d-flex justify-content-center py-2 px-3 mb-3">
	<ul class="nav nav-pills no-select">
		<li class="nav-item">
			<a href="#about" class="nav-link active" aria-current="page">
				About
			</a>
		</li>
		<li class="nav-item">
			<a href="#art-gallery" class="nav-link">
				Art Gallery
			</a>
		</li>
		<li class="nav-item">
			<a href="#palette-gallery" class="nav-link">
				Palette Gallery
			</a>
		</li>
		<li class="nav-item">
			<a href="#palette-generator" class="nav-link">
				Palette Generator
			</a>
		</li>
	</ul>
</header>
{% endblock content %}