<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FAVICON -->
	<link rel="icon" type="image/x-icon" href="./img/favicon.svg">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> 

	<!-- CUSTOM CSS -->
	<link href="./css/styles.css" rel="stylesheet">

	<!-- JAVASCRIPT -->
	<script src="./js/scripts.js" defer></script>

	<!-- TITLE -->
	<title>Pixel-Palettes</title>
</head>

<body>

<!-- LOGO -->
<div class="container d-flex justify-content-center pt-3 px-3">
	<h1 id="logo" class="pixel no-select">
		Pixel-Palettes
	</h1>	
</div>

<!-- HEADER -->
<header class="d-flex justify-content-center py-2 px-3 mb-3">
	<ul class="nav nav-pills no-select">
		<li class="nav-item">
			<a href="#about" class="nav-link active" aria-current="page">
				About
			</a>
		</li>
		<li class="nav-item">
			<a href="#art-gallery" class="nav-link">
				Art Gallery
			</a>
		</li>
		<li class="nav-item">
			<a href="#palette-gallery" class="nav-link">
				Palette Gallery
			</a>
		</li>
		<li class="nav-item">
			<a href="#palette-generator" class="nav-link">
				Palette Generator
			</a>
		</li>
	</ul>
</header>

<!-- MAIN -->
<main>

	<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 
				align-items-center rounded-3 border shadow-lg">
		<div id="about" class="p-3 p-lg-5 pt-lg-3">
		    <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
		       	About
		    </h1>
			<hr class="border border-secondary border-2 opacity-75">
			<p class="lead">
				Ultrices sagittis orci a scelerisque purus. Metus aliquam eleifend mi in. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Cursus risus at ultrices mi tempus imperdiet nulla. Pharetra magna ac placerat vestibulum. At tellus at urna condimentum mattis pellentesque id nibh. At elementum eu facilisis sed odio. Vulputate enim nulla aliquet porttitor lacus luctus. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Vitae elementum curabitur vitae nunc sed. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Consequat semper viverra nam libero justo laoreet. Volutpat lacus laoreet non curabitur. Consequat ac felis donec et odio pellentesque diam volutpat. Tortor condimentum lacinia quis vel eros donec ac.
			</p>
		</div>
	</div>

	<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div id="art-gallery" class="p-3 p-lg-5 pt-lg-3">
	        <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
	        	Art Gallery
	        </h1>
	        <hr class="border border-secondary border-2 opacity-75">
			<p class="lead">
				Art gallery text goes here.
			</p>

			<div class="album">
			    <div class="container">
				    <div class="row pb-3 row-cols-1 row-cols-sm-2 
				    			row-cols-md-3 g-3">
						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>

						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>

						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>						
					</div>
				    <div class="row row-cols-1 row-cols-sm-2 
				    			row-cols-md-3 g-3">
						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>

						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>

						<div class="col">
						    <div class="card shadow-sm">
						    	<img src="./img/blk.png" class="img-fluid" alt="test image">
						        <div class="card-body">
						            <p class="card-text">
						            	Card text goes here.
						            </p>
						        </div>
						    </div>
						</div>						
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div id="palette-gallery" class="p-3 p-lg-5 pt-lg-3">
	        <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
	        	Palette Gallery
	        </h1>
	        <hr class="border border-secondary border-2 opacity-75">
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt ornare massa eget egestas purus. Sit amet facilisis magna etiam tempor. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Morbi enim nunc faucibus a pellentesque sit. Fringilla est ullamcorper eget nulla facilisi. At erat pellentesque adipiscing commodo elit. Lobortis mattis aliquam faucibus purus. Aenean et tortor at risus viverra. Eget egestas purus viverra accumsan. Lacus viverra vitae congue eu consequat ac. Lacus vestibulum sed arcu non odio euismod. Sed libero enim sed faucibus. Enim tortor at auctor urna nunc id cursus metus.
			</p><p class="lead">
				Ultrices sagittis orci a scelerisque purus. Metus aliquam eleifend mi in. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Cursus risus at ultrices mi tempus imperdiet nulla. Pharetra magna ac placerat vestibulum. At tellus at urna condimentum mattis pellentesque id nibh. At elementum eu facilisis sed odio. Vulputate enim nulla aliquet porttitor lacus luctus. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Vitae elementum curabitur vitae nunc sed. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Consequat semper viverra nam libero justo laoreet. Volutpat lacus laoreet non curabitur. Consequat ac felis donec et odio pellentesque diam volutpat. Tortor condimentum lacinia quis vel eros donec ac.
			</p><p class="lead">
				Nec ultrices dui sapien eget mi proin sed libero enim. Consectetur a erat nam at lectus urna duis. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Ac ut consequat semper viverra nam libero justo laoreet sit. At volutpat diam ut venenatis tellus in metus vulputate. Amet volutpat consequat mauris nunc. Nec dui nunc mattis enim ut tellus. Sed felis eget velit aliquet sagittis id. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Adipiscing tristique risus nec feugiat in fermentum posuere. Consectetur a erat nam at lectus urna.
			</p>
		</div>
	</div>

	<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div id="palette-generator" class="p-3 p-lg-5 pt-lg-3">
	        <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
	        	Palette Generator
	        </h1>
	        <hr class="border border-secondary border-2 opacity-75">
			<p class="lead">Generate a random palette...</p>
			
			<div class="row justify-content-center">
			  <div class="col">
			  	<div class="d-grid gap-2">
				  	<button id="button-generate-palette" class="btn btn-primary">Generate a new palette</button>
				 </div>
			  </div>
			  <div class="col">
			  	<div class="input-group mb-3">
			  	  <input id="input-palette-colors" type="number" class="form-control" aria-label="Number of Colors" value="8" step="8" min="8" max="64">
			  	  <span class="input-group-text">colors</span>
			  	</div>
			  </div>
			  <div class="col">
			  	<div class="d-grid gap-2">
				  	<button id="button-delete-palettes" class="btn btn-danger">Clear all palettes</button>
				</div>
			  </div>
			</div>
			<div id="palette-container"></div>
		</div>
	</div>

	<div class="row p-2 m-5 mt-0 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
		<div id="palette-generator" class="p-3 p-lg-5 pt-lg-3">
	        <h1 class="display-4 fw-bold lh-1 text-body-emphasis pixel no-select">
	        	Image Converter
	        </h1>
	        <hr class="border border-secondary border-2 opacity-75">
	
			<div class="row justify-content-center">
			  <div class="col">
			  	<div class="d-grid gap-2">
			  		<!-- uploader -->
			  		<div class="dropdown">
			  		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			  		    Select a Sample Image
			  		  </button>
			  		  <ul id="uploader-sample-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			  		    <li><a class="dropdown-item">
			  		    	Mountain</a></li>
			  		    <li><a class="dropdown-item">
			  		    	Cat</a></li>
			  		    <li><a class="dropdown-item">
			  		    	Cactus</a></li>
			  		  </ul>
			  		</div>
				 </div>
			  </div>
			  <div class="col">
			  	<div class="input-group mb-3">
			  		<!-- modify -->
			  	</div>
			  </div>
			  <div class="col">
			  	<div class="d-grid gap-2">
			  		<!-- output -->
				</div>
			  </div>
			</div>
		</div>
	</div>

</main>
<span id="to-top" class="no-select"><a href="#logo">▲</a></span>
</body>
</html>