{# IN: title #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FAVICON -->
	<link rel="icon" type="image/x-icon" 
		  href="{{ url_for('static', filename='img/favicon.svg')}}">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<!-- CUSTOM CSS -->
	<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/media.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/module.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/state.css') }}" rel="stylesheet">
	<style id="theme-style"></style>

	<!-- JAVASCRIPT -->
	<script src="{{ url_for('static', filename='js/chroma.min.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/palette.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/svg.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/mvp.js') }}" defer></script>

	<!-- TITLE -->
	<title>{{ title }}</title>
</head>
<body>
<!----------------------------------------------------------------------------------->
<!-- LOGO -->
<div id="title-container">
	<img src="{{ url_for('static', filename='img/favicon.svg')}}">
	<h1 id="logo" class="pixel no-select">
		{{ title }}
	</h1>
	<span id="theme-toggle">🌞</span>
</div>

<!----------------------------------------------------------------------------------->
<!-- MAIN -->
<main>
	<div id="image-converter">
        <h2 class="pixel no-select">
        	Image Converter
        </h2>
        <hr>
        <div class="row">
        	<!-- START FORM -->
			<!-- action="{{ url_for('convert') }}"  -->
        	<form id="ic-form" 
				  method="post"
        		  enctype="multipart/form-data">

        	<div class="col">
		  		<!-- INPUT -->
		  		<h3 class="pixel no-select">Input:</h3>

		  		<img id="converter-image-input" 
		  			 class="converter-image no-select" 
		  			 src="">
				<div id="palette-input"></div>
		  		<br>

				<label for="ic-input-sample"
					   class="no-select"
					   style="margin-bottom: 5px;">
					Select a Sample Image:
				</label>
		 		<select id="ic-input-sample"
		 				name="ic-input-sample">
				  	<option disabled selected>
				  		No Image Selected</option>
				  	<option value="mountains.png"
				  			data-img-src="{{ url_for('static', filename='img/samples/mountains.png') }}">Mountains</option>

				  	<option value="cat.png"
				  			data-img-src="{{ url_for('static', filename='img/samples/cat.png') }}">Cat</option>

				  	<option value="cactus.png"
				  			data-img-src="{{ url_for('static', filename='img/samples/cactus.png') }}">Cactus</option>
				</select>

				<br>
				<label for="ic-input-upload"
					   class="no-select"
					   style="margin-bottom: 7.5px;">
					Upload a Custom Image:
				</label>
				<input id="ic-input-upload" 
					   name="ic-input-upload"
					   type="file" accept="image/*">
        	</div>

        	<div class="col">
        	<!----------------------------------------------------------------------------------->
        	<!-- MODIFY	 -->
		  		<h3 class="pixel no-select">Modify:</h3>
        		<table id="ic-mod-table" class="no-select">
        			<thead>
        				<tr>
        					<th></th>
        					<th>Width</th>
        					<th>Height</th>
        					<th>Area</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<th>Input</th>
        					<td>-</td>
        					<td>-</td>
        					<td>-</td>
        				</tr>
        				<tr>
        					<th>Output</th>
        					<td>-</td>
        					<td>-</td>
        					<td>-</td>
        				</tr>
        				<tr>
        					<th>Upscaled</th>
        					<td>-</td>
        					<td>-</td>
        					<td>-</td>
        				</tr>
        			</tbody>
        		</table>
        		<br>
        		<div class="row" style="gap: 10px">
        			<div class="col" style="padding: 0; flex: 1;">
		        		<label id="ic-output-w-label" 
		        			   for="ic-output-w"
		        			   class="no-select"
		        			   style="margin-bottom: 7.5px;">
		        			Output Width 
		        			<span>(px)</span>
		        		</label>
		        		<input id="ic-output-w" 
		        			   name="ic-output-w" 
		        			   type="number" min="4" value="4" disabled
		        			   style="width: calc(100% - 14px);">
        			</div>
        			<div class="col" style="padding: 0; flex: 1;">
		        		<label id="ic-output-h-label" 
		        			   for="ic-output-h"
		        			   class="no-select"
		        			   style="margin-bottom: 7.5px;">
		        			Output Height
		        			<span>(px)</span>
		        		</label>
		        		<input id="ic-output-h" 
		        			   name="ic-output-h" 
		        			   type="number" min="4" value="4" disabled
		        			   style="width: calc(100% - 14px);">
        			</div>
        		</div>
        		<br>
        		<label id="ic-mod-upscale-label" 
        			   for="ic-mod-upscale"
        			   class="no-select">
        			Upscale Output Image 
        			<span>(x20)</span>
        		</label>
        		<input id="ic-mod-upscale" 
        			   name="ic-mod-upscale" 
        			   type="range" min="1" value="20" disabled>
        		<br>
        		<label id="ic-mod-colors-label" 
        			   for="ic-mod-colors"
        			   class="no-select">
        			Maxmimum Output Colors 
        			<span>(4)</span>
        		</label>
        		<input id="ic-mod-colors" 
        			   name="ic-mod-colors" 
        			   type="range" min="2" value="4" 
        			   max="24" disabled>
        		<br>
        		<div class="checkbox-container">
		        	<label id="ic-mod-svg-label" 
		        		   for="ic-mod-svg"
		        		   class="no-select">
		        		Generate SVG? (Used to recolor output)
		        	</label>
		        	<input id="ic-mod-svg" 
		        		   name="ic-mod-svg" 
		        		   type="checkbox" checked disabled>       				
        		</div>
        		<p id="estimated-time-p" class="no-select">
        			Estimated Time: <span id="estimated-time">00:00:00</span>
        		</p>

        		<input type="submit" value="Convert Image" 
        			   id="ic-mod-convert" 
        			   disabled>
        		</form>
        		<input type="button" value="Cancel Conversion" 
        			   id="ic-cancel-convert" style="margin-top: 15px;" 
        			   disabled>
        		<!-- END FORM -->
        	</div>

        	<div class="col">
        	<!----------------------------------------------------------------------------------->
        	<!-- OUTPUT	-->
		  		<h3 class="pixel no-select">Output:</h3>
		  		<div id="output-image-container">
        		<img id="converter-image-output" 
        			 data-loading-src = "{{ url_for('static', filename='img/loading.gif') }}"
        			 data-error-src = "{{ url_for('static', filename='img/error.gif') }}"
        			 class="converter-image no-select" 
        			 src="">
        		</div>
					<div id="palette-output"></div>
        			 <br>
	        		<p id="ic-output-status"
	        		   class="no-select"
	        		   style="margin-bottom: 10px;">
						Select an image to convert</p>

					<div class="row" style="gap: 10px">
						<div class="col" style="padding: 0; flex: 1;">
							<a id="ic-output-png-link" href="" target="_blank">
		        			<input type="button" value="Save PNG"
		        				   id="ic-output-png-save"
		        				   disabled>
		        			</a>
						</div>
						<div class="col" style="padding: 0; flex: 1;">
							<a id="ic-output-svg-link" href="" target="_blank">
		        			<input type="button" value="Save SVG"
		        				   id="ic-output-svg-save"
		        				   disabled>
		        			</a>
						</div>
					</div>
        	</div>
        </div>

	</div>
</main>
</body>
</html>